.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 30px;
    text-align: center;
}

.affichageResult{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 10px;
}

.result{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: 2px solid #acacac;
    border-radius: 5px;
    background-color: #dedede;
}

.bouton-add{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

button{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(88, 88, 88);
    padding: 5px;
    font-family: "OCR A Std", monospace;
}

button:hover{
    background-color: #ccc;
    scale: 1.1;
    transition: 0.03s;
}

.btn-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.result button{
    width: 100px;
}

.bouton-mod{
    width: 100px;
    height: 100%;
    border-radius: 15px;
    font-family: "OCR A Std", monospace;
    border: 2px solid #74d879;
    background-color: #74d879;
    color: #1c4b1e;
}

/* survoler le bouton modifier */
.bouton-mod:hover{
    background-color: #31c938;
    scale: 1.1;
    transition: 0.03s;
    border-radius: 20px;
}

.bouton-del{
    width: 100px;
    height: 100%;
    border-radius: 15px;
    font-family: "OCR A Std", monospace;
    border: 2px solid #d45151;
    background-color: #d45151;
    color: #420b0b;
}

/* survoler le bouton supprimer */
.bouton-del:hover{
    background-color: #db2020;
    scale: 1.1;
    transition: 0.03s;
    border-radius: 20px;
}