# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

# Règles de réécriture d'URL :

# Usagers :
RewriteRule ^usagers$ Usagers/listeUsagers.php [L]

# Medecins :
RewriteRule ^medecins$   Medecins/listeMedecins.php [L]

# Consultations :
RewriteRule ^consultations$   RendezVous/listeRDV.php [L]

# Statistiques :
RewriteRule ^statistiques$   Statistiques/statistiques.php [L]