.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 30px;
    text-align: center;
}

.affichageResult{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 10px;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: 2px solid #acacac;
    border-radius: 15px;
    background-color: #a5a5a5;
}

    .photo-btn{
        margin-bottom: 15px;
        width: 98%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

        .photo img{
            width: 80%;
            height: auto;
        }

        .btn-container{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .bouton-form{
            border-radius: 15px;
            font-family: "OCR A Std", monospace, "Arial", sans-serif;
            background-color: #fff;
            box-shadow: 0 0 0;
        }

            .custom-buttons .bouton-form {
                width: 100%;
                aspect-ratio: 5/1;
            }
            
            .custom-buttons #bouton-mod {
                border: 2px solid #74d879;
                background-color: #74d879;
                color: #1c4b1e;
            }
            
            .custom-buttons #bouton-mod:hover {
                background-color: #31c938;
            }
            
            .custom-buttons #bouton-del {
                border: 2px solid #d45151;
                background-color: #d45151;
                color: #420b0b;
            }
            
            .custom-buttons #bouton-del:hover {
                background-color: #db2020;
            }

.bouton-add{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

    .bouton-add button {
        width: 100px;
        height: 100%;
        border-radius: 15px;
        font-family: "OCR A Std", monospace;
        border: 2px solid #a5a5a5;
        background-color: #dedede;
        font-size: large;
    }

button{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(88, 88, 88);
    padding: 5px;
    font-family: "OCR A Std", monospace;
}

button:hover{
    background-color: #ccc;
    scale: 1.1;
    transition: 0.03s;
    cursor: pointer;
}

.result button{
    width: 100px;
}

.info {
    padding: 10px;
    margin: 10px;
    border: 2px solid #acacac;
    border-radius: 10px;
    background-color: #dedede;
}